.title {
	display: flex;
	margin-left: 1rem;
	font-size: 0.85rem;
}

.update_btn {
	margin-right: 0.5rem;
}

.title > * {
	transition: all 0.3s ease-in;
}
.title > *:hover {
	color: var(--green-d-dark);
}

.title > *:active {
	transform: scale(1.15);
}
