.container {
	position: absolute;
	top: 38%;
	left: 50%;
	background-color: var(--deep-orange);
	padding: 2rem 3rem;
	border-radius: 0.3rem;
	width: 340px;
	cursor: pointer;
	transform: translate(-50%, -25%);
	animation: task_dueDate_modify_modal 0.4s;
	z-index: 7;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	margin: auto;
	text-align: center;
}

.close_btn {
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	transition: all 0.3s ease-in;
}

.title {
	font-size: 1.1rem;
	padding: 0.2rem;
	font-weight: bold;
	color: var(--red-light);
	margin: 1.4rem 0 2rem 0;
}

.confirm_btn {
	margin-top: 1rem;
}

.cancel,
.confirm {
	background-color: var(--orange-light);
	padding: 0.3rem 2.2rem;
	border-radius: 0.4rem;
	color: var(--orange-dark);
	transition: all 0.3s ease-in;
	font-size: 0.9rem;
	font-weight: bold;
}

.close_btn:hover {
	color: var(--white);
}

.cancel:hover,
.confirm:hover {
	color: var(--white);
	background-color: var(--orange-dark);
}

.close_btn:active,
.cancel:active,
.confirm:active {
	transform: scale(1.1);
}

.cancel {
	margin-right: 0.3rem;
}

@keyframes task_dueDate_modify_modal {
	0% {
		transform: translate(-50%, -40%);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -25%);
	}
}
