.container {
	background-color: var(--green-b);
	width: 4rem;
	height: 100%;
	position: fixed;
	top: 4rem;
}

.ul {
	padding-top: 2rem;
}

.li {
	font-family: var(--font-sub1);
	font-size: 1.5rem;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.li > * {
	margin: 0.5rem 0;
	color: var(--green-d-dark);
}

.explanation {
	width: 7.5rem;
	top: -0.5rem;
	left: 5rem;
	z-index: 1;
	position: absolute;
	font-size: 1.1rem;
	font-family: var(--font-sub1);
	background-color: var(--blue-light);
	display: none;
	padding: 0.4em 0 0.3em 0;
	background: var(--amber-dark);
	border-radius: 5px;
	color: var(--orange-dark);
}

.explanation:after,
.explanation:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.explanation:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: var(--amber-dark);
	border-width: 8px;
	margin-top: -8px;
}

.explanation:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 8px;
	margin-top: -8px;
}

li:hover .explanation {
	display: block;
	/* transform: scale(1.1); */
	animation: explain 0.4s;
}

@keyframes explain {
	0% {
		transform: translateX(-10px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 100;
	}
}
