.container {
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 400px;
	background-color: var(--deep-orange-light);
	border-radius: 0.7rem;
	animation: project_modal_show 0.4s;
	text-align: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	z-index: 4;
}

.close_btn {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.search_div {
	margin-top: 1rem;
}

.label {
	font-size: 0.8rem;
}

.search_name_input {
	background-color: var(--white);
	width: 70%;
	padding: 0.5rem 0.75rem;
	border-radius: 0.3rem;
	font-size: 0.9rem;
	margin-right: 0.3rem;
}

.search_btn {
	padding: 0.5rem 0.55rem;
	font-size: 0.9rem;
	font-weight: bold;
	background-color: var(--deep-orange);
	border-radius: 0.3rem;
	transition: all 0.3s ease-in;
}

.search_btn:hover {
	color: var(--white);
	background-color: var(--deep-orange-dark);
}

.search_btn:active {
	transform: scale(1.05);
}

.div_btn {
	margin: 2rem 2rem 1.5rem 2rem;
}

.search_list,
.friends_list {
	background-color: var(--deep-orange);
	width: 48%;
	height: 2rem;
	transition: all 0.3s ease-in;
	font-weight: bold;
}

.search_list {
	margin-right: 0.35rem;
}

.close_btn:hover {
	color: var(--deep-orange-dark);
}

.search_list:hover,
.friends_list:hover {
	color: var(--white);
	background-color: var(--deep-orange-dark);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.close_btn:active,
.search_list:active,
.friends_list:active {
	transform: scale(1.1);
}

.title {
	margin-top: 2.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

.ul {
	height: 175px;
	overflow: auto;
	margin-bottom: 1rem;
}

.li {
	margin: 0.5rem 2.2rem;
	font-size: 0.85rem;
	font-weight: var(--medium);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nickname,
.email {
	margin-right: 1.5rem;
}

.plus_btn {
	padding: 0.35rem 0.5rem;
	border-radius: 0.3rem;
	color: var(--deep-orange-dark);
	background-color: var(--deep-orange);
	font-weight: bold;
	transition: all 0.3s ease-in;
}

.plus_btn:hover {
	color: var(--white);
}

.plus_btn:active {
	transform: scale(1.1);
}

@keyframes project_modal_show {
	0% {
		transform: translateY(-15px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 100;
	}
}
