@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.popup-container {
	background-color: var(--middle-pink-color);
	width: 290px;
	position: absolute;
	top: 70px;
	right: 30px;
	border-radius: 10px;
	display: flex;
	z-index: 2;
	flex-direction: column;
	justify-content: center;
	animation: popup-modal 0.4s;
}

.popup-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem 0rem 2rem 0rem;
}

.popup-profile > * {
	margin-bottom: 0.8rem;
}

.popup-close-btn {
	border: none;
	background-color: transparent;
	width: 100%;
	position: relative;
	top: -25px;
	right: -115px;
	cursor: pointer;
}

.popup-close-btn:hover {
	color: var(--smoke-pink-color);
	transition: all 0.3s linear;
}

.popup-close-btn:active {
	transform: scale(1.1);
}

.popup-user-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.popup-profile-h3 {
	padding-bottom: 2rem;
	margin-bottom: 0;
	border-bottom: 2px solid var(--dark-pink-color);
	font-weight: 400;
}

.popup-user-handling {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 3rem;
}

.popup-user-handling button {
	border: none;
	outline: none;
	background: none;
	display: flex;
	align-items: center;
	transition: all 0.3s linear;
}

.popup-user-handling button:active {
	transform: scale(1.05);
}

.popup-user-update,
.popup-user-logout,
.popup-user-handling span {
	cursor: pointer;
}

.popup-user-handling span {
	font-family: var(--font-family);
	font-size: var(--font-size-small);
	margin-left: 0.3rem;
}
.popup-user-handling span:hover {
	color: var(--light-tomato-color);
}

.fa-user-cog,
.fa-sign-out-alt {
	color: var(--light-tomato-color);
	font-size: var(--font-size--middle);
	transition: all 0.3s linear;
}

.fa-user-cog:hover,
.fa-sign-out-alt:hover {
	color: var(--smoke-pink-color);
}

.popup-hidden {
	display: none;
}

.popup-hidden:active {
	transition: all 0.3s linear;
}

@keyframes popup-modal {
	from {
		opacity: 0;
		margin-top: -50px;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}
